IVY_BASE_URL=https://solve.ivy.homes
IVY_API_KEY=IVYXX-XXXXXXXXXXX
IVY_EMAIL=demo1@ivy.homes
IVY_PASSWORD=XXXXXXXXXXX

NEXT_PUBLIC_APP_URL=http://localhost:3000

BETTER_AUTH_SECRET=XXXXXXXXXXX
BETTER_AUTH_URL=http://localhost:3000 

DATABASE_URL = 'mongodb+srv://db_user:XXXXXXXXXX@cluster0.u0cfbcy.mongodb.net/?appName=Cluster0'
